<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i class="fas fa-leaf">OShop</i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/shopping-cart">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge bg-warning rounded-pill" *ngIf="cart$ | async as cart">
                {{ cart.totalItemsCount }}
              </span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-md-0">
          <ng-template #anonymousUser>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">
                  <i class="fas fa-sign-in-alt">Login</i>
                </a>
            </li>
          </ng-template>
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
                {{ appUser.name }}
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" routerLink="/my/orders">My Orders</a></li>
              <ng-container *ngIf="appUser.isAdmin">
                <li><a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a></li>
                <li><a class="dropdown-item" routerLink="/admin/products">Manage Products</a></li>
              </ng-container>
              <li><a class="dropdown-item" (click)="logout()">
                <i class="fas fa-sign-out-alt">Log Out</i>
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
 </nav>